/*Font Links*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Primary */
/*neutral text colours*/
/*Background, Headings and Buttons */
/*Typography*/
body {
  font-size: 15px;
  background-color: #f2f2f2;
}

body a {
  text-decoration: none;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  display: block;
  text-align: center;
  margin-top: 20px;
}

div {
  border: 0px solid #000;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100vh;
}

.flex-container .car-container {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin: 0 auto;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 80px;
  border-radius: 20px;
}

.flex-container .car-container .cars {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.flex-container .car-container .cars img {
  display: block;
  margin-left: 30px;
  margin-top: 40px;
}

.flex-container .car-container .cars h1 {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
}

.flex-container .car-container .cars p {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

.flex-container .car-container .cars button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 50px;
  background-color: #f2f2f2;
  width: 50%;
  margin-left: 30px;
  border: 1px solid #f2f2f2;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

.flex-container .car-container .sedans {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e38826;
}

.flex-container .car-container .sedans button {
  color: #e38826;
}

.flex-container .car-container .sedans button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}

.flex-container .car-container .suvs {
  background-color: #006970;
}

.flex-container .car-container .suvs button {
  color: #006970;
}

.flex-container .car-container .suvs button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}

.flex-container .car-container .luxury {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #004241;
}

.flex-container .car-container .luxury button {
  color: #004241;
}

.flex-container .car-container .luxury button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flex-container .car-container {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    height: 50vh;
  }
  .flex-container .car-container .cars img {
    width: 40%;
    margin-left: 10px;
  }
  .flex-container .car-container .cars h1 {
    font-size: 0.65rem;
    margin-left: 10px;
  }
  .flex-container .car-container .cars p {
    font-size: 0.55rem;
    margin-left: 10px;
  }
  .flex-container .car-container .cars button {
    padding: 5px;
    border-radius: 20px;
    font-size: 0.35rem;
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-device-width: 1440px) {
  .flex-container {
    margin-top: 80px;
  }
  .flex-container .car-container {
    height: 50vh;
  }
  .flex-container .car-container .cars img {
    margin-left: 50px;
  }
  .flex-container .car-container .cars h1 {
    font-size: 2rem;
    margin-left: 50px;
  }
  .flex-container .car-container .cars p {
    font-size: 1.55rem;
    margin-left: 50px;
  }
  .flex-container .car-container .cars button {
    font-size: 1.55rem;
    margin-left: 50px;
  }
}
/*# sourceMappingURL=index.css.map */