/*Font Links*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*,::before, ::after{
    box-sizing:border-box;
}

/* Primary */
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

/*neutral text colours*/
$transparentWhite: hsla(0, 0%, 100%, 0.75);
/*Background, Headings and Buttons */
$veryLightGrey: hsl(0, 0%, 95%);

/*Typography*/
@mixin fonts-400{
    font-weight:400;
    font-family: 'Lexend Deca', sans-serif;
}

@mixin fonts-700{
    font-weight:700;
    font-family: 'Big Shoulders Display', cursive;
}

body{
    font-size:15px;
    background-color:$veryLightGrey;

    a{
        text-decoration:none;
        @include fonts-400();
        display:block;
        text-align:center;
        margin-top:20px;
    }
}

div{
    border:0px solid #000;
}


.flex-container{
    display:flex;
    flex-flow:row nowrap;
    height:100vh;

    .car-container{
        flex-basis:70%;
        margin:0 auto;
        height:70vh; 
        display:flex;
        flex-flow:row nowrap;
        margin-top:80px;
        border-radius:20px;
        

        .cars{
            flex-basis:33.33%;

            img {
                    display: block;
                    margin-left: 30px;
                    margin-top: 40px;
                }

            h1{
                margin-left:30px;
                color:$transparentWhite;
                @include fonts-700();
            }

            p{
                margin-left:30px;
                color:$transparentWhite;
                @include fonts-400();
            }

            button{
                margin-top:30px;
                padding:10px;
                border-radius:50px;
                background-color:$veryLightGrey;
                width:50%;
                margin-left:30px;
                border:1px solid $veryLightGrey;
                @include fonts-400();
            }

        }

        .sedans{
            border-top-left-radius:20px;
            border-bottom-left-radius:20px;
            background-color: $brightOrange;
            
            button{
                color:$brightOrange; 

        }

                   button:hover {
                       background-color: transparent;
                       color: $transparentWhite;
                   }
        }

        .suvs{
            background-color:$darkCyan;

            button{
                color:$darkCyan;
            }

                        button:hover {
                            background-color: transparent;
                            color: $transparentWhite;
                        }
        }

        .luxury{
            border-top-right-radius:20px;
            border-bottom-right-radius:20px;
            background-color: $veryDarkCyan;

            button{
                color:$veryDarkCyan;
            }

                        button:hover {
                            background-color: transparent;
                            color: $transparentWhite;
                        }
        }
    }
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .flex-container{
        .car-container{
            flex-basis:95%;
            height:40vh;
            .cars{
                img{
                    width:40%;
                    margin-left:10px;
                }

                h1{
                    font-size:0.55rem;
                    margin-left:10px;
                }

                p{
                    font-size:0.35rem;
                    margin-left:10px;
                }

                button{
                    padding:5px;
                    border-radius:20px;
                    font-size:0.35rem;
                    margin-top:10px;
                    margin-left:10px;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    .flex-container {
            .car-container {
                flex-basis: 85%;
                height: 60vh;
    
                .cars {
                    img {
                        width: 30%;
                        margin-left: 10px;
                    }
    
                    h1 {
                        font-size: 1.5rem;
                        margin-left: 10px;
                    }
    
                    p {
                        font-size: 0.75rem;
                        margin-left: 10px;
                    }
    
                    button {
                        padding: 10px;
                        border-radius: 20px;
                        font-size: 0.55rem;
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                }
            }
        }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1035px){
    .flex-container {
            .car-container {
                flex-basis: 85%;
                height: 60vh;
    
                .cars {
                    img {
                        width: 30%;
                        margin-left: 30px;
                    }
    
                    h1 {
                        font-size: 2rem;
                        margin-left: 30px;
                    }
    
                    p {
                        font-size: 0.95rem;
                        margin-left: 30px;
                    }
    
                    button {
                        padding: 10px;
                        border-radius: 20px;
                        font-size: 0.75rem;
                        margin-top: 10px;
                        margin-left: 30px;
                    }
                }
            }
        }
}

@media only screen and (min-device-width: 1440px) {
    .flex-container {
        margin-top: 80px;

        .car-container {
            flex-basis:95%;
            height: 60vh;

            .cars {
                img {
                    margin-left: 50px;
                }

                h1 {
                    font-size: 2rem;
                    margin-left: 50px;
                }

                p {
                    font-size: 1.25rem;
                    margin-left: 50px;
                }

                button {
                    font-size: 1.55rem;
                    margin-left: 50px;
                }
            }
        }
    }
}

